<!DOCTYPE html>
<html>

<head>
	<title>SiwCar - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/stile.css" />
	  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="background-container"></div>
    <header>
        <img src="/images/siw-car-logo.png" class="logo" />
        <div class="user-info" th:if="${userDetails}">
            <span th:text="'user :' + ' ' + ${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div class="user-info" th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>
	</div>
	<h1>Congratulazioni ti sei registrato!</h1>
	<div>
		<span>Nome: </span>
		<span th:text="${user.name}"></span>
	</div>
	<div>
		<span>Cognome: </span>
		<span th:text="${user.surname}"></span>
	</div>
	<div>
		<span>Email: </span>
		<span th:text="${user.email}"></span>
	</div>
</body>
</html>